@using LNTrello.Models
@model AuthenticationModel
@{
    ViewBag.Title = "Login";
    ViewBag.BodyClass = "login-page";
}

@using (Html.BeginForm("Login", "Authentication", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-signin", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <h2>Please enable access to your Trello account</h2>
    <p>Please open the link below and anable access to your trello account, then copy the token into the text box below.</p>
    <p>
        <a href="https://trello.com/1/authorize?expiration=never&scope=read,write,account&response_type=token&name=Server%20Token&key=a3e16400966567f857abd863e1325efc"
            onclick="return popup('https://trello.com/1/authorize?expiration=never&scope=read,write,account&response_type=token&name=Server%20Token&key=a3e16400966567f857abd863e1325efc')">
            Click here to login
        </a>
    </p>

    @Html.LabelFor(m => m.UserToken, new { @class = "sr-only" })
    @Html.TextBoxFor(m => m.UserToken, new { @class = "form-control", placeholder = "User Token" })
    @Html.ValidationMessageFor(m => m.UserToken, "", new { @class = "text-danger" })

    <button class="btn btn-lg btn-primary btn-block" type="submit">Continue</button>
}



<script>
    function popup(url) {
        newwindow = window.open(url, 'name', 'height=600,width=400');
        if (window.focus) { newwindow.focus() }
        return false;
    }
</script>

